@import "resets";
@import "presets";

//HEADER SECTION STARTS
#header {
  #navbar {
    .navbar {
      padding: 20px 0;
      transition: 0.2s ease-in-out;
    }

    .navbar-brand {
      display: flex;

      img {
        width: 130px;
        transition: 0.2s ease-in-out;
        position: relative;
        top: 5px;
      }

      .logo-part {
        display: flex;
        flex-direction: column;
        @include font(Open Sans, 15px, 800, $blue);
        text-transform: uppercase;
        line-height: 14px;
        margin-top: 12px;
        transition: 0.2s ease-in-out;

        .marine {
          letter-spacing: 8px;
        }
      }
    }

    .search {
      margin-left: 150px;
      position: relative;

      i {
        position: absolute;
        top: 15px;
        left: 15px;
        color: rgba(5, 5, 102, 0.6);
        transition: 0.2s ease-in-out;
      }

      #searchbar {
        width: 280px;
        padding: 10px 20px 10px 40px;
        border-radius: 40px;
        // border: 1px solid rgba(5, 5, 102, 0.5);
        border: none;
        box-shadow: 0 1px 4px rgba(5, 5, 102, 0.4);
        background-color: transparent;
        @include font(Nunito, 16px, 400, $darkblue);
        transition: 0.1s ease-in-out;

        &:focus,
        &:hover {
          box-shadow: 0 1px 4px rgba(5, 5, 102, 0.7);
          border: none;
        }
      }

      .placeholder {
        position: absolute;
        @include font(Nunito, 16px, 400, $darkblue);
        opacity: 0.5;
        margin: 0;
        top: 12px;
        left: 40px;
        z-index: -1;
      }
    }

    .scrolled {
      padding: 6px 0;
      background-color: $white;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);

      .navbar-brand {
        img {
          width: 110px;
        }

        .logo-part {
          font-size: 13px;
          line-height: 12px;
          margin-top: 11px;

          .marine {
            letter-spacing: 7px;
          }
        }
      }

      .search {
        i {
          top: 13px;
        }

        #searchbar {
          padding: 8px 20px 8px 40px;
        }

        .placeholder {
          top: 10px;
        }
      }
    }
    .navbar-nav {
      align-items: center;

      .nav-item {
        margin-left: 15px;

        .nav-link {
          @include font(Nunito, 16px, 700, $darkblue);

          &:hover {
            color: $blue;
          }
        }

        .products-btn {
          @include button;
          padding: 8px 16px;
        }
      }
    }
  }

  #banner {
    width: 100%;
    height: 98vh;
    position: relative;

    .background {
      .background-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
    }

    .background-overlay {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        $white 2%,
        rgba(0, 0, 0, 0.5) 60%,
        $blue 100%
      );
      position: absolute;
      @include flexCenter(column);

      .icon {
        width: 90px;
        // animation: scale-updown 2s ease-in-out infinite;
      }

      .brand-name {
        .since {
          margin: 20px 0 -5px 2px;
          @include font(Nunito, 20px, 900, $white);
          text-transform: uppercase;
          letter-spacing: 4px;
          // text-align: left;
        }

        text-align: center;
        @include font(Oswald, 50px, 900, $white);
        filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.8));
        text-transform: uppercase;
      }

      .description {
        max-width: 700px;
        @include font(Nunito, 20px, 400, $white);
        line-height: 24px;
        text-align: center;
        margin: 5px auto 25px;
        z-index: 1;
      }

      .actions {
        @include flexCenter();

        .products-btn {
          @include button("transparent");
          box-shadow: 0 0 0 $white;
        }
        .call-btn {
          @include font(Nunito, 16px, 700, $white);
          transition: 0.2s ease-in-out;

          i {
            margin: 0 4px 0 12px;
            transition: 0.2s ease-in-out;
          }

          &:hover {
            color: #fff;

            i {
              transform: rotate(15deg);
            }
          }
        }
      }
      .down-btn {
        display: none;
        margin: 25px auto 0;
        font-size: 20px;
        color: $white;
        position: relative;
        animation: move-updown 2s ease-in-out infinite;
      }
    }

    .banner-waves {
      display: block;
      margin-top: 60px;
      width: 100%;
      height: 60px;
      z-index: 5;
      position: absolute;
      bottom: -2px;
    }

    .wave1 use {
      animation: move-forever1 10s linear infinite;
      animation-delay: -1s;
    }

    .wave2 use {
      animation: move-forever2 8s linear infinite;
      animation-delay: -3s;
    }

    .wave3 use {
      animation: move-forever3 6s linear infinite;
      animation-delay: -2s;
    }
  }
}

#about {
  padding: 50px 0;
}
